@import '../../common/styles/common';
@import '../../common/styles/breakpoints';

.game {
  margin: 50px 0 0 100px;
}

$pointRadius: 6px;

@function getCanvasHeight($level) {
  @if $level == 0 {
    @return 300px;
  }

  @if $level == 1 {
    @return 600px;
  }

  @if $level == 2 {
    @return 500px;
  }

  @if $level == 3 {
    @return 600px;
  }

  @if $level == 4 {
    @return 800px;
  }
}

@function getCanvasWidth($level) {
  @if $level == 0 {
    @return 300px;
  }

  @if $level == 1 {
    @return 600px;
  }

  @if $level == 2 {
    @return 600px;
  }

  @if $level == 3 {
    @return 500px;
  }

  @if $level == 4 {
    @return 600px;
  }
}

@function getPlowTruckHeight($level) {
  @if $level == 2 {
    @return 60px;
  }

  @if $level == 3 {
    @return 60px;
  }

  @return 60px;
}

@function getContainerTopOffset($level) {
  @if $level == 3 {
    @return 100px;
  }

  @if $level == 4 {
    @return -250px;
  }

  @return 0px;
}

@mixin DeliveryProblemGame($level) {
  .center {
    display: flex;
    justify-content: center;
  }

  .buttonsGroup {
    margin-top: 50px;
  }

  .snowplow {
    height: getPlowTruckHeight($level);
  }

  #canvas {
    position: absolute;
    z-index: 1;
    transform: translateY($pointRadius) translateX($pointRadius);
  }

  .pointLegend {
    position: absolute;
  }

  .point {
    height: $pointRadius * 2;
    width: $pointRadius * 2;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    cursor: pointer;
    &:hover {
      background-color: #5cb85c;
    }
    &.pointDisabled {
      background-color: #a94442;
      cursor: not-allowed;
      transition-property: background-color, cursor;
      transition-duration: 0.5s;
      &:hover {
        background-color: #a94442;
      }
    }
  }

  .pointsContainer {
    position: relative;
    z-index: 2;
    height: getCanvasHeight($level);
    width: getCanvasWidth($level);
  }
}

@for $i from 0 through 4 {
  .container-#{$i} {
    @include DeliveryProblemGame($i);
  }
}

@for $i from 0 through 4 {
  .container-#{$i} {
    position: relative;
    top: getContainerTopOffset($i);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-3 .buttonsGroup {
  margin-top: -50px;
  z-index: 1000;
}

.container-4 {
  height: 500px;
}