@import '../common/styles/common.scss';

.app {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.rowContainer {
    max-width: 600px;
    text-align: center;
}

.rowShort {
    margin-bottom: 2px;
    cursor: pointer;
    width: 100%;

    &.opened {
         background-color: #e6e0e7;
     }
}

.rowFull {
    //display: none;
    justify-content: space-between;
    margin-bottom: 2px;

    &.opened {
         display: flex;
     }
}

.rowNumber {
    cursor: pointer;
    min-width: 30px;
    padding: 1px;

    &.disabled {
      cursor: no-drop;
    }
}
