//320px — 480px: Mobile devices
$breakpoint-mobile: 370px;

//481px — 768px: iPads, Tablets
$breakpoint-tablet: 480px;

//769px — 1024px: Small screens, laptops
$breakpoint-s: 769px;

//1025px — 1200px: Desktops, large screens
$breakpoint-l: 1025px;

//1201px and more —  Extra large screens, TV
$breakpoint-xl: 1201px;

$breakpoint-mobile-horizontal: 500px;
