// legacy styles
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.footer {
  margin: 30px 0 0;
  border-top: 1px solid #ccc;
  text-align: left;
}

.footer > div {
  margin: 20px auto;
  font-size: 13px;
}

.jumbotron {
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .jumbotron h1 {
    font-size: 63px;
  }

  .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
  }
}

// next styles
.isCorrect {
  background-color: #b1e3bc;

  transition: all 1s ease-in;
}
