@import '../../../common/styles/common';
@import '../../../common/styles/breakpoints';

$grid-size-level0: 2;
$grid-size-level1: 3;
$grid-size-level2: 4;
$grid-size-level3: 5;

$dot-color: #7e8fb1;

$container-padding: 15px;

$square-border-width: 2px;

@function getGridSize($level) {
  @if $level == 0 {
    @return $grid-size-level0;
  }

  @if $level == 1 {
    @return $grid-size-level1;
  }

  @if $level == 2 {
    @return $grid-size-level2;
  }

  @if $level == 3 {
    @return $grid-size-level3;
  }
}

@media (min-width: $breakpoint-s) {
  $truck-height: 60px;
  $truck-width: 60px;
  $dot-size: 16px;
  $truck-offset: 10px;
  $square-max-size: 100px;
  $square-completed-border: 5px;

  @function getSquareSize($grid-size) {
    @return min($square-max-size, (600px - $container-padding * 2) / $grid-size);
  }

  @mixin truckPosition($x, $y, $grid-size, $square-size) {
    top: $square-size * $y - $truck-width + $truck-offset;
    right: $square-size * ($grid-size - $x) - $truck-width / 2;
  }

  @mixin truckPositions($grid-size, $square-size) {
    @for $x from 0 through $grid-size {
      @for $y from 0 through $grid-size {
        .snowplow-#{$x}-#{$y} {
          @include truckPosition($x, $y, $grid-size, $square-size);
        }
      }
    }
  }

  @mixin plowTruckGame($level) {
    $grid-size: getGridSize($level);
    $square-size: getSquareSize($grid-size);

    .board-row:after {
      clear: both;
      content: "";
      display: table;
    }

    .grid {
      position: relative;
      margin: $truck-height + $truck-offset $truck-offset * 2 0;
    }

    .dots {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      width: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      position: absolute;
      top: -$dot-size / 2;
      left: -$dot-size / 2;
    }

    .dotRow {
      display: flex;
      justify-content: space-between;
    }

    .snowplow {
      height: $truck-height;
      position: absolute;
      top: $square-size * $grid-size - $truck-width + $truck-offset;
      right: -$truck-width / 2;
      transition-property: right, top;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &-up {
        transform: rotate(90deg);
      }

      &-down {
        transform: rotate(-90deg);
      }

      &-left {}

      &-right {
        transform: scaleX(-1);
      }
    }

    @include truckPositions($grid-size, $square-size);

    .dot {
      height: $dot-size;
      width: $dot-size;
      border-radius: 50%;
      background-color: $dot-color;
      cursor: pointer;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      opacity: 1;
      transition-delay: 0.2s;

      &.hidden {
        opacity: 0;
        cursor: default;
      }
    }

    .square {
      background: #fff;
      border: $square-border-width solid #999;
      float: left;
      height: $square-size;
      margin-right: -$square-border-width;
      margin-top: -$square-border-width;
      padding: 0;
      text-align: center;
      width: $square-size;

      &-border-top {
        border-top: $square-completed-border solid green;
        &-double {
          border-top: $square-completed-border * 2 solid green;
        }
      }

      &-border-bottom {
        border-bottom: $square-completed-border solid green;
        &-double {
          border-bottom: $square-completed-border * 2 solid green;
        }
      }

      &-border-left {
        border-left: $square-completed-border solid green;
        &-double {
          border-left: $square-completed-border * 2 solid green;
        }
      }

      &-border-right {
        border-right: $square-completed-border solid green;
        &-double {
          border-right: $square-completed-border * 2 solid green;
        }
      }
    }

    .resetButton, .unitsTraveled {
      margin-top: 20px;
    }
  }

  @for $i from 0 through 3 {
    .container-#{$i} {
      @include plowTruckGame($i);
    }
  }
}

@media (max-width: $breakpoint-s) {
  $dot-size: 8px;

  $truck-height: 30px;
  $truck-width: 30px;
  $truck-offset: 5px;

  $square-max-size: 50px;

  $square-completed-border: 3px;

  @function getSquareSize($grid-size) {
    @return min($square-max-size, (600px - $container-padding * 2) / $grid-size);
  }

  @mixin truckPosition($x, $y, $grid-size, $square-size) {
    top: $square-size * $y - $truck-width + $truck-offset;
    right: $square-size * ($grid-size - $x) - $truck-width / 2;
  }

  @mixin truckPositions($grid-size, $square-size) {
    @for $x from 0 through $grid-size {
      @for $y from 0 through $grid-size {
        .snowplow-#{$x}-#{$y} {
          @include truckPosition($x, $y, $grid-size, $square-size);
        }
      }
    }
  }

  @mixin plowTruckGame($level) {
    $grid-size: getGridSize($level);
    $square-size: getSquareSize($grid-size);

    .board-row:after {
      clear: both;
      content: "";
      display: table;
    }

    .grid {
      position: relative;
      margin: $truck-height + $truck-offset $truck-offset * 2 0;
    }

    .dots {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      width: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      position: absolute;
      top: -$dot-size / 2;
      left: -$dot-size / 2;
    }

    .dotRow {
      display: flex;
      justify-content: space-between;
    }

    .snowplow {
      height: $truck-height;
      position: absolute;
      top: $square-size * $grid-size - $truck-width + $truck-offset;
      right: -$truck-width / 2;
      transition-property: right, top;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &-up {
        transform: rotate(90deg);
      }

      &-down {
        transform: rotate(-90deg);
      }

      &-left {}

      &-right {
        transform: scaleX(-1);
      }
    }

    @include truckPositions($grid-size, $square-size);

    .dot {
      height: $dot-size;
      width: $dot-size;
      border-radius: 50%;
      background-color: $dot-color;
      cursor: pointer;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      opacity: 1;
      transition-delay: 0.2s;

      &.hidden {
        opacity: 0;
        cursor: default;
      }
    }

    .square {
      background: #fff;
      border: $square-border-width solid #999;
      float: left;
      height: $square-size;
      margin-right: -$square-border-width;
      margin-top: -$square-border-width;
      padding: 0;
      text-align: center;
      width: $square-size;

      &-border-top {
        border-top: $square-completed-border solid green;
        &-double {
          border-top: $square-completed-border * 2 solid green;
        }
      }

      &-border-bottom {
        border-bottom: $square-completed-border solid green;
        &-double {
          border-bottom: $square-completed-border * 2 solid green;
        }
      }

      &-border-left {
        border-left: $square-completed-border solid green;
        &-double {
          border-left: $square-completed-border * 2 solid green;
        }
      }

      &-border-right {
        border-right: $square-completed-border solid green;
        &-double {
          border-right: $square-completed-border * 2 solid green;
        }
      }
    }

    .resetButton, .unitsTraveled {
      margin-top: 20px;
    }
  }

  @for $i from 0 through 3 {
    .container-#{$i} {
      @include plowTruckGame($i);
    }
  }
}

* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  &:focus {
    outline: none;
  }
}

@media (min-width: $breakpoint-mobile-horizontal) and (max-width: $breakpoint-s) {
  $truck-height: 50px;
  $truck-width: 50px;
  $dot-size: 10px;
  $truck-offset: 10px;
  $square-max-size: 70px;
  $square-completed-border: 3px;

  @function getSquareSize($grid-size) {
    @return min($square-max-size, (600px - $container-padding * 2) / $grid-size);
  }

  @mixin truckPosition($x, $y, $grid-size, $square-size) {
    top: $square-size * $y - $truck-width + $truck-offset;
    right: $square-size * ($grid-size - $x) - $truck-width / 2;
  }

  @mixin truckPositions($grid-size, $square-size) {
    @for $x from 0 through $grid-size {
      @for $y from 0 through $grid-size {
        .snowplow-#{$x}-#{$y} {
          @include truckPosition($x, $y, $grid-size, $square-size);
        }
      }
    }
  }

  @mixin plowTruckGame($level) {
    $grid-size: getGridSize($level);
    $square-size: getSquareSize($grid-size);

    .board-row:after {
      clear: both;
      content: "";
      display: table;
    }

    .grid {
      position: relative;
      margin: $truck-height + $truck-offset $truck-offset * 2 0;
    }

    .dots {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      width: $square-size * $grid-size - $grid-size * $square-border-width + $dot-size;
      position: absolute;
      top: -$dot-size / 2;
      left: -$dot-size / 2;
    }

    .dotRow {
      display: flex;
      justify-content: space-between;
    }

    .snowplow {
      height: $truck-height;
      position: absolute;
      top: $square-size * $grid-size - $truck-width + $truck-offset;
      right: -$truck-width / 2;
      transition-property: right, top;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &-up {
        transform: rotate(90deg);
      }

      &-down {
        transform: rotate(-90deg);
      }

      &-left {}

      &-right {
        transform: scaleX(-1);
      }
    }

    @include truckPositions($grid-size, $square-size);

    .dot {
      height: $dot-size;
      width: $dot-size;
      border-radius: 50%;
      background-color: $dot-color;
      cursor: pointer;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      opacity: 1;
      transition-delay: 0.2s;

      &.hidden {
        opacity: 0;
        cursor: default;
      }
    }

    .square {
      background: #fff;
      border: $square-border-width solid #999;
      float: left;
      height: $square-size;
      margin-right: -$square-border-width;
      margin-top: -$square-border-width;
      padding: 0;
      text-align: center;
      width: $square-size;

      &-border-top {
        border-top: $square-completed-border solid green;
        &-double {
          border-top: $square-completed-border * 2 solid green;
        }
      }

      &-border-bottom {
        border-bottom: $square-completed-border solid green;
        &-double {
          border-bottom: $square-completed-border * 2 solid green;
        }
      }

      &-border-left {
        border-left: $square-completed-border solid green;
        &-double {
          border-left: $square-completed-border * 2 solid green;
        }
      }

      &-border-right {
        border-right: $square-completed-border solid green;
        &-double {
          border-right: $square-completed-border * 2 solid green;
        }
      }
    }

    .resetButton, .unitsTraveled {
      margin-top: 20px;
    }
  }

  @for $i from 0 through 3 {
    .container-#{$i} {
      @include plowTruckGame($i);
    }
  }
}

.levelCompleted {
  color: #5cb85c !important;
}

.customFluidContainer {
  padding: 0;
}
