.arrange-apples .targets {
  display: inline-block;
}
.arrange-apples .targets .row:nth-child(2n+1) .target {
  background: #fafafa;
}
.arrange-apples .targets .target {
  width: 25px;
  height: 25px;
  border: 1px solid #ffa500;
  border-radius: 50%;
  margin: 5px 4px 3px;
  display: inline-block;
}
.arrange-apples .targets .target.correct {
  background: #ffa500 !important;
}
.arrange-apples .apples {
  display: inline-block;
  vertical-align: top;
  padding: 10px 30px;
}
.arrange-apples .apples .apple {
  width: 25px;
  height: 25px;
  background: #ffa500;
  display: inline-block;
  margin: 5px 4px 3px;
  border-radius: 50%;
}
.arrange-apples .apples .apple.ui-draggable-disabled,
.arrange-apples .apples .apple.empty {
  border: 1px solid #ffa500;
  background: #fff;
}
@media (min-width: 768px) {
  .arrange-apples .targets .target {
    width: 50px;
    height: 50px;
    margin: 2px 4px;
  }
  .arrange-apples .apples .apple {
    width: 50px;
    height: 50px;
    margin: 2px 4px;
  }
}
@media (min-width: 992px) {
  .arrange-apples .apples {
    padding: 0 30px;
  }
}
