.balls {
  display: inline-block;
}
.balls .ball {
  line-height: 45px;
}
.balls .ball:after {
  content: ' + ';
  padding: 0 10px;
  display: inline-block;
}
.balls .ball:last-child:after {
  content: ' = ';
}
.balls .ball .form-control {
  display: inline-block;
  max-width: 55px;
}
.balls .ball .form-control.error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.result {
  line-height: 45px;
  min-width: 50px;
  display: inline-block;
  text-align: left;
}
.m50 {
  margin: 50px 0;
}
