.padded {
  position: relative;
  margin: 30px 0;
}
.petrolstation {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 0;
  margin-bottom: -2px;
}
.road {
  border-top: 5px solid;
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
}
.delimeter,
.station,
.station img {
  width: 32px;
}
.station img {
  cursor: pointer;
}
.station.active:before {
  z-index: -1;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #0095ff;
  position: absolute;
  margin: -15px 9px;
}
.car {
  position: absolute;
  top: 0;
  width: 92px;
  left: 0;
  transition: left 0.2s linear;
}
.tank {
  width: 30px;
  height: 90px;
  border-radius: 3px;
  border: 1px solid;
  margin: 0 auto;
  position: relative;
}
.tank:after {
  content: 'Tank';
  bottom: -25px;
  position: absolute;
  left: 0;
}
.tank .inner {
  width: 100%;
  height: 100%;
  background: #0095ff;
  bottom: 0;
  position: absolute;
  transition: height 0.2s ease;
}
