.clock-game .history {
  margin-bottom: 40px;
}
.clock-game .history .gray {
  color: #808080;
}
.clock-game .history > .content {
  margin-top: auto;
}
.clock-game .history > .counter {
  margin-bottom: 10px;
}
.clock-game .content {
  margin-top: 40px;
  min-height: 250px;
}
