.florins .florin__man-first img,
.florins .florin__man-second img {
  max-width: 100%;
  margin: 15px 0;
}
.florins .florin__arrow {
  display: none;
  margin: 60px 0px;
}
.florins .florin__arrow img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .florins .florin__arrow {
    display: block;
  }
}
