.svg-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.svg-side-container {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-top: 50%;
}
.graph-cliques-edge.graph-cliques-active {
  stroke: #000;
}
.graph-cliques-edge {
  stroke: #eee;
}
.graph-cliques-error1,
.graph-cliques-error2 {
  display: none;
}
