.job-assignment table,
.sums-table table {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  table-layout: fixed;
}
.job-assignment table th,
.sums-table table th,
.job-assignment table td,
.sums-table table td {
  word-break: break-word;
}
.job-assignment table td,
.sums-table table td {
  height: 40px;
}
.job-assignment table td input,
.sums-table table td input {
  width: 100%;
}
