.list .nav-pills {
  margin: 0 10px 20px 0;
}
.list .nav-pills .clear-filter.disabled {
  display: none;
}
.list .quizzes-list {
  list-style-type: circle;
}
.list .quizzes-list .title {
  margin: 0 5px 5px 0;
  display: inline-block;
}
.list .quizzes-list .label {
  margin: 0 3px;
}
.list .quizzes-list.tags li {
  margin-bottom: 15px;
  list-style-type: none;
}
.list .quizzes-list.tags .title {
  display: block;
  margin: 5px auto 5px 30px;
}
