.magic-square-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.magic-square-container input[type='text'] {
  border: 0;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
.magic-square-text {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: -1px;
  right: -1px;
}
.magic-square-text .field {
  outline: none;
  background: #f5f5dc;
  border: 1px solid #000;
  border-right-width: 0;
}
.magic-square-text .output-right {
  border-left: 1px solid #000;
}
.magic-square-text input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
.magic-square-text input:disabled {
  background: #5bc0de;
  color: #fff;
}
.magic-square-text input.output-left:disabled {
  background: #fff;
  color: #fff;
}
.magic-square-text .output-bottom-diagonal:disabled,
.magic-square-text .output-bottom-diagonal-main:disabled {
  background: #a4e441;
  color: #fff;
}
.magic-square-content {
  margin: auto;
  max-width: 500px;
}
.td {
  display: inline-block;
  width: 20%;
}
