.maximum-advertisement-revenue .legend {
  margin-top: 20px;
}
.maximum-advertisement-revenue .result {
  margin-top: 20px;
  line-height: 1;
}
.maximum-advertisement-revenue .advertisers {
  display: inline-block;
}
.maximum-advertisement-revenue .advertisers .advertise {
  width: 70px;
  height: 70px;
  background: #ffa500;
  display: inline-block;
  padding: 14px;
  margin: -1px;
  transition: background 0.3s ease;
}
.maximum-advertisement-revenue .advertisers .advertise.ui-draggable-disabled {
  background: #fbe9c9;
}
.maximum-advertisement-revenue .advertisers .advertise.correct {
  background: #ffa500 !important;
}
.maximum-advertisement-revenue .advertisers .slot {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px dashed #ffa500;
  margin: 5px 4px 3px;
}
.maximum-advertisement-revenue .advertisers .slot.ui-draggable-disabled,
.maximum-advertisement-revenue .advertisers .slot.empty {
  border: 1px solid #ffa500;
}
.maximum-advertisement-revenue .slots {
  display: inline-block;
  vertical-align: top;
}
.maximum-advertisement-revenue .slots .wrap-slot {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 5px 4px 3px;
}
.maximum-advertisement-revenue .slots .wrap-slot div {
  margin-top: 5px;
}
.maximum-advertisement-revenue .slots .slot {
  width: 70px;
  height: 70px;
  border: 1px dashed #ffa500;
}
.maximum-advertisement-revenue .slots .slot.ui-draggable-disabled,
.maximum-advertisement-revenue .slots .slot.empty {
  border: 1px solid #ffa500;
}
@media (min-width: 768px) {
  .maximum-advertisement-revenue .advertisers .slot {
    margin: 2px 4px;
  }
  .maximum-advertisement-revenue .slots .wrap-slot {
    margin: 2px 4px;
  }
}
@media (min-width: 992px) {
  .maximum-advertisement-revenue .advertisers {
    padding: 0 30px;
  }
}
