.numbers-on-chessboard-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.numbers-on-chessboard-container * {
  margin: 0;
}
.numbers-on-chessboard-container input[type='text'] {
  border: 0;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.numbers-on-chessboard-container input[type='text'].field.invalid {
  color: #f00;
}
.numbers-on-chessboard-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: -1px;
  right: -1px;
}
.numbers-on-chessboard-text .field {
  outline: none;
  background: #ffdab9;
  color: #000;
}
.numbers-on-chessboard-text .field.invalid {
  color: #f00;
}
.numbers-on-chessboard-td:nth-child(2n) .field {
  background: #a0522d;
  color: #fff;
}
.numbers-on-chessboard-td:nth-child(2n) .field.invalid {
  color: #f00;
}
.numbers-on-chessboard-tr {
  margin-bottom: -3px;
}
.numbers-on-chessboard-tr:nth-child(2n) .field {
  background: #a0522d;
  color: #fff;
}
.numbers-on-chessboard-tr:nth-child(2n) .field.invalid {
  color: #f00;
}
.numbers-on-chessboard-tr:nth-child(2n) .numbers-on-chessboard-td:nth-child(2n) .field {
  background: #ffdab9;
  color: #000;
}
.numbers-on-chessboard-tr:nth-child(2n) .numbers-on-chessboard-td:nth-child(2n) .field.invalid {
  color: #f00;
}
.numbers-on-chessboard-content {
  margin: auto;
  max-width: 500px;
}
.numbers-on-chessboard-td {
  display: inline-block;
  width: 12.5%;
}
