.cells {
  display: inline-block;
}
.cells .cell {
  line-height: 45px;
}
.cells .cell:after {
  padding: 0 10px;
  display: inline-block;
}
.cells .cell .form-control {
  display: inline-block;
  max-width: 55px;
}
.cells .cell .form-control.error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
