.primitive-calculator .calculator-wrapper {
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  margin: 30px auto;
  padding: 30px;
}
.primitive-calculator .calculator-wrapper .field {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px auto 30px;
  width: 240px;
  text-align: right;
  padding: 0 15px;
}
.primitive-calculator .calculator-wrapper .field,
.primitive-calculator .calculator-wrapper .first,
.primitive-calculator .calculator-wrapper .second,
.primitive-calculator .calculator-wrapper .third {
  font-size: 22px;
  line-height: 33px;
}
