.take-the-last-stone {
  min-height: 250px;
}
.take-the-last-stone .history-item {
  display: block;
  line-height: 15px;
  margin: 8px 0;
}
.take-the-last-stone .left-pile,
.take-the-last-stone .right-pile {
  text-align: center;
}
.take-the-last-stone .left-pile,
.take-the-last-stone .right-pile,
.take-the-last-stone .history {
  margin-bottom: 40px;
}
.take-the-last-stone .rock {
  width: 25px;
  height: 25px;
  background: #ffa500;
  display: inline-block;
  margin: 5px 4px 3px;
  border-radius: 50%;
}
