.take-the-last-rock {
  margin-top: 40px;
  min-height: 250px;
}
.take-the-last-rock .history-item {
  display: block;
  line-height: 15px;
  margin: 8px 0;
}
.take-the-last-rock .pile {
  text-align: center;
}
.take-the-last-rock .pile,
.take-the-last-rock .history {
  margin-bottom: 40px;
}
.take-the-last-rock .rock {
  width: 25px;
  height: 25px;
  background: #ffa500;
  display: inline-block;
  margin: 5px 4px 3px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .take-the-last-rock {
    margin-top: 25px;
    min-height: 100px;
  }
  .take-the-last-rock .rock {
    width: 25px;
    height: 25px;
    margin: 2px 4px;
  }
}
