.hotel {
  display: block;
  margin: 25px auto;
}
.hotel-item {
  cursor: pointer;
}
.hotel-item.wrong span {
  background: #d9534f;
}
.hotel-item.current span {
  background: #337ab7;
}
.hotel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #5bc0de;
  margin: -30px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  padding: 16px 22px;
  font-size: 25px;
  line-height: 25px;
  color: #fff;
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .hotel-item {
    width: 33%;
    display: inline-block;
  }
}
