.three-rocks-game {
  min-height: 250px;
}
.three-rocks-game .history-item {
  display: block;
  line-height: 15px;
  margin: 8px 0;
}
.three-rocks-game .left-pile,
.three-rocks-game .right-pile {
  text-align: center;
}
.three-rocks-game .left-pile,
.three-rocks-game .right-pile,
.three-rocks-game .history {
  margin-bottom: 40px;
}
.three-rocks-game .rock {
  width: 25px;
  height: 25px;
  background: #ffa500;
  display: inline-block;
  margin: 5px 4px 3px;
  border-radius: 50%;
}
