.touch-all-segments .wrapper {
  border: 1px solid #5cb85c;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  height: 350px;
  max-height: 350px;
  position: relative;
  margin: 30px auto;
}
.touch-all-segments .wrapper .lines,
.touch-all-segments .wrapper .dividers {
  width: 100%;
  height: 100%;
  position: absolute;
}
.touch-all-segments .wrapper .line-wrap {
  display: block;
  height: 26.923076923076923px;
  width: 100%;
  position: relative;
  text-align: initial;
}
.touch-all-segments .wrapper .line-wrap.active .line {
  background: #00f;
}
.touch-all-segments .wrapper .line-wrap .line {
  display: inline-block;
  height: 3px;
  background: #000;
  margin-top: 11.961538461538462px;
  transition: background 0.2s ease;
}
.touch-all-segments .wrapper .divider {
  display: inline-block;
  width: 3.846153846153846%;
  height: 100%;
  cursor: pointer;
}
.touch-all-segments .wrapper .divider.active .inner {
  border-right: 1px dashed #00f;
}
.touch-all-segments .wrapper .divider:first-child {
  margin-left: 1.923076923076923%;
}
.touch-all-segments .wrapper .divider .inner {
  display: inline-block;
  height: 100%;
  width: 0;
  border-right: 1px dashed #ccc;
  margin-left: -50%;
  transition: border 0.2s ease;
}
