.numbers,
.florins,
.cut {
  padding: 0;
  margin: 0 auto 50px;
  width: 100%;
  max-width: 550px;
  list-style-type: none;
  font-size: 24px;
  line-height: 55px;
}
.numbers__item,
.florins__item,
.cut__item {
  width: 55px;
  height: 55px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.numbers__item:hover,
.florins__item:hover,
.cut__item:hover {
  color: #0056ff;
}
.numbers__item.checked,
.florins__item.checked,
.cut__item.checked {
  color: #0056ff;
  background: #eee;
  border-radius: 60px;
}
.numbers__item.faded,
.florins__item.faded,
.cut__item.faded {
  color: #ddd;
}
